<div class="row">
  <div class="text small-12 column">

    <%= link_to page_path('more_information'), class: "back" do %>
      <i class="icon-angle-left"></i>
      <%= t("spending_proposals.new.back_link") %>
    <% end %>

    <h1><%= t('pages.more_information.titles.meetings') %></h1>

    <p>Ponemos en marcha espacios presenciales de debate y propuesta en cada distrito a los que invitamos a todos los vecinos y colectivos a sumarse para debatir y construir colectivamente. Publicaremos a continuación las convocatorias de cada distrito, así como todos los documentos relevantes al respecto.</p>

    <h2>Convocatòries per barris</h2>

    <table>
      <thead>
        <th>Barri</th>
        <th class="text-center">Día</th>
        <th class="text-center">Hora</th>
        <th>Lloc</th>
      </thead>
      <tbody>
        <tr>
          <td>Nucli Antic</td>
          <td class="text-center">30/3/2016</td>
          <td class="text-center">19:00</td>
          <td>Ajuntament Vell</td>
        </tr>
        <tr>
          <td>Centre</td>
          <td class="text-center">15/3/2016<br>7/04/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Teatre Núria Espert</td>
        </tr>
        <tr>
          <td>El Palau</td>
          <td class="text-center">18/3/2016<br>8/04/2016</td>
          <td class="text-center">18:30<br>18:00</td>
          <td>Centre Civic</td>

        </tr>
        <tr>
          <td>Avinguda Guatemala</td>
          <td class="text-center">28/3/2016<br>7/4/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Dependencies Carrer Doctor Vila</td>
        </tr>
        <tr>
          <td>La Plana</td>
          <td class="text-center">16/3/2016<br>6/4/2016</td>
          <td class="text-center">18:30<br>18:30</td>
          <td>Centre Cívic </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
