<div class="row">
  <div class="text small-12 column">

    <%= link_to page_path('more_information'), class: "back" do %>
      <i class="icon-angle-left"></i>
      <%= t("spending_proposals.new.back_link") %>
    <% end %>

    <h1><%= t('pages.more_information.titles.meetings') %></h1>

    <p>Ponemos en marcha espacios presenciales de debate y propuesta en cada distrito a los que invitamos a todos los vecinos y colectivos a sumarse para debatir y construir colectivamente. Publicaremos a continuación las convocatorias de cada distrito, así como todos los documentos relevantes al respecto.</p>

    <h2>Convocatòries per barris</h2>

    <table>
      <thead>
        <th>Cita al Barri</th>
        <th class="text-center">Día</th>
        <th class="text-center">Hora</th>
        <th>Lloc</th>
        <th>Barri</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://participa.sabarca.cat/plantilla_cita">Visita al Ajuntament Vell</a></td>
          <td class="text-center">30/3/2016</td>
          <td class="text-center">19:00</td>
          <td>Ajuntament Vell</td>
          <td><a href="http://participa.sabarca.cat/cites_al_nucliantic">Nucli Antic</a></td>
        </tr>
        <tr>
          <td><a href="http://participa.sabarca.cat/plantilla_cita">Visita al Teatre</a></td>
          <td class="text-center">15/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Teatre Núria Espert</td>
          <td><a href="http://participa.sabarca.cat/cites_al_centre">Centre</a></td>
        </tr>
        <tr>
          <td><a href="http://participa.sabarca.cat/plantilla_cita">Visita al Centre Civic del Palau</a></td>
          <td class="text-center">18/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Centre Civic</td>
          <td><a href="http://participa.sabarca.cat/cites_al_palau">El Palau</a></td>

        </tr>
        <tr>
          <td><a href="http://participa.sabarca.cat/plantilla_cita">Visita al dependencies Doctor Villa</a></td>
          <td class="text-center">28/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Dependencies Carrer Doctor Vila</td>
          <td><a href="http://participa.sabarca.cat/cites_a_solana">La Solana</a></td>
        </tr>
        <tr>
          <td><a href="http://participa.sabarca.cat/plantilla_cita">Visita al Centre Civil La Plana</a></td>
          <td class="text-center">16/3/2016</td>
          <td class="text-center">18:30</td>
          <td>Centre Cívic </td>
          <td><a href="http://participa.sabarca.cat/cites_a_plana">La Plana</a></td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
