<div class="row">
  <div class="text small-12 column">

    <%= link_to page_path('alcalde_als_barris'), class: "back" do %>
      <i class="icon-angle-left"></i>
      <%= t("spending_proposals.new.back_link") %>
    <% end %>

    <h1> Nucli Antic </h1>

    <p>Histórico de citas presenciales en el barrio del Nucli Antic</p>

    <h2></h2>

    <table>
      <thead>
        <th>Cita al Barri</th>
        <th class="text-center">Día</th>
        <th class="text-center">Hora</th>
        <th>Lloc</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://participa.sabarca.cat/plantilla_cita">Visita al Ajuntament Vell</a></td>
          <td class="text-center">30/3/2016</td>
          <td class="text-center">19:00</td>
          <td>Ajuntament Vell</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
