<div class="row">
  <div class="text small-12 column">

    <%= link_to page_path('alcalde_als_barris'), class: "back" do %>
      <i class="icon-angle-left"></i>
      <%= t("spending_proposals.new.back_link") %>
    <% end %>

    <h1> El Palau </h1>

    <p>Histórico de citas presenciales en El Palau <p>

    <h2></h2>

    <table>
      <thead>
        <th>Cita al Barri</th>
        <th class="text-center">Día</th>
        <th class="text-center">Hora</th>
        <th>Lloc</th>
      </thead>
      <tbody>
	<tr>
          <td><a href="http://participa.sabarca.cat/plantilla_cita">Visita al Centre Civic del Palau</a></td>
          <td class="text-center">18/3/2016<br>8/04/2016</td>
          <td class="text-center">18:30<br>18:00</td>
          <td>Centre Civic</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
