<div class="expanded jumbo-featured no-margin-top">
  <div class="row">
    <div class="small-12 medium-8 column">
	<h1>Lloc de Visita</h1>
	<h3> Subtitol </h3>

	<div style="float: left;margin-bottom:20px;" class="small-12 medium-8 column">
		Contingut de la visita
	</div>
	<div style="float:left; margin-left: 10px;">
	<%= image_tag('foto.jpg', size: "300x300") =%>
	</div>
	</div>
		<h3>Llistat de propostes</h3>
		<ul>
			<li><a href="http://participa.sabarca.cat/proposals?search=etiqutavisita">Propostes de la visita</a></li>
		</ul>
	
    </div>
  </div>
</div>

