// Overrides and adds customized styles in this file
//
#fondofoto {
         background-image: image-url("fonsportada.png");
}
.logowellcome {
        color: #FFFFFF;
}
.see-more {
	background-color: #237BD8;
}
